p{
	font-family: Roboto;
	margin-top: 0px;
	margin-bottom: 0px;
}

.video-title{
	font-weight: bold;
	font-size: 18px;
	width: 280px;
	line-height: 24px;
	margin-bottom: 6px;
}
.video-metadata{     
	color: rgb(96,96,96);
	font-size: 12px;
	line-height: 1px;
	margin-bottom: 20px;
}
.video-author{
	font-size: 12px;
	color: rgb(96,96,96);
	margin-bottom: 20px;
}
.video-description{
	color: rgb(96,96,96);
	font-size: 12px;
	width: 225px;
	line-height: 15px;
	margin-bottom: 150px;
}

.promotional{
	text-align: center;
	color: white;
	background-color: red;
	font-size: 12px;
	padding: 14px 0px 14px 0px;
	margin-bottom: 150px;
}

.shop-now{
	margin-left: 5px;
}
.shop-now:hover{
	text-decoration: underline;
	cursor:pointer;
}