button{
  cursor: pointer;
}
body{
  font-family: Arial;
  background-color: #191919;
  color: white;
  font-weight: 700;
  font-size: 30px;
}

.move-button{
  background-color: #191919;
  border: white 3px solid;
  border-radius: 50%;
  padding: 30px;
  margin-right: 8px;
}

.result,
.score{
  font-size: 20px;
}

.reset-button,
.auto-play-button{
  padding: 8px 16px;
}

.move-image{
  width: 50px;

}

.message-container{
  background-color: #77966D;
  font-size: 20px;
  display: none;
  align-items: center;
  margin-top: 20px;
  max-width: 750px;
}
.message-container--active{
  display:flex;
}

.yes-button,
.no-button{
  font-size: 30px;
  margin-left: 20px;
  width: 100px;
  background-color: #FFFFFA;
  border: 1px solid;
}

