p{
  font-family: Roboto, Arial;
  margin: 0px;
}

.thumbnail{
  width: 100%;
}

.search-bar{
  display: block;
}

.video-preview{
  
}

.profile-picture{
  width: 40px;
  border-radius: 50px;
}

.thumbnail-row{
  margin-bottom: 12px;
}

.video-title {
  font-weight: 500;
  line-height: 20px;
  display: inline-block;
  margin-bottom: 12px;
  width: 250px;
  font-size: 14px;
}
.video-author,
.video-stats{
  color: #606060;
  font-size: 12px;
}
.video-author{
  margin-bottom: 4px;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}

.youtube-page{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}


