body{
  padding-bottom: 300px;
}

.gmail{
  font-family: Arial, Helvetica, sans-serif;
  width: 350px;
  padding: 8px 12px 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 3px lightgrey;
  border-radius: 4px;
  margin: 0 auto;
  font-size: 10px;
}

.inboxes{
  color: rgb(165, 164, 164);
  margin-bottom: 15px;
}

.email-container{
  display: flex;
  background-color: lightblue;

}

.pfp-container{
  border-radius: 50%;
  display: flex;
  justify-content: end;
  overflow: hidden;
  flex-shrink: 0;
}
.picture{
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
}

.email-info{
  display: flex;
  flex-direction: column;
}

.email-sender{

}

.email-subject{

}

.email-body{

}


.email-subject{
  display: inline-block;
}
