body{
  font-family: Lato;
  margin-bottom: 1000px;
}

.portfolio-page{
  border: solid;
  margin: 0px 50px;
}

.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  border: solid;
}

.header-left{
  font-size: 60px;
  color: #d81159;
}

.pfp{
  width:100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100px;
}

.title{
  display: flex;
  font-size: 75px;
  width: 1200px;
  border:solid;
  margin-bottom: 200px;
}

.body-container{
  border: solid;
}

.info-flexbox{
  display: flex;
  border: solid;
}

.info-title{
  font-size: 30px;
  width: 350px;
  border: solid;
  text-align: center;
}

.info-body{
  font-size: 30px;
}