.header{
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 120px;
  background-color: darkgrey;
  justify-content: space-between;
  
  
}

.header-left{
  display: flex;
}