button:hover{
  cursor:pointer;
}

button:active{
  transition: opacity 0.1s;
  opacity: 0.85;
  
}

p{
  
}

.frieren-round{
  width: 200px;
  border-radius: 10px;
}
.frieren-square{
  width: 200px;
  height:200px;
  object-fit: cover;
}
.frieren-circle{
  width: 50px;
  height:50px;
  border-radius: 500px;
  object-fit: cover;
  vertical-align: middle;
}

.textbox1{
  margin-top:50px;
  padding: 5px 8px;
  border-radius: 5px;
  border-width: 0.25px;
  border-color:grey;
}
.textbox2{
  margin-top:50px;
  padding: 8px 8px;
  border-radius: 15px;
  border-width: 0px;
  border-color:grey;
  width: 300px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  margin-bottom:25px;
}

.linkedin-text{
  font-family: Arial;
  font-size: 12px;
  margin-bottom:4px;
}
.linkedin-input{
  border-width: 0.75px;
  border-radius: 5px;
  width: 295px;
}
.agree-button{
  margin-top:10px;
  width:295px;
  padding: 10px;
  border-radius: 15px;
  border-width: 0px;
  color:white;
  background-color: rgb(44,100,182);
  margin-bottom: 25px;
  margin-right: 300px;
}

.twitter-input{
  vertical-align: middle;
  padding: 10px 4px;
  border: none;
  width: 250px;
}
.twitter-tweet{
  padding: 8px 20px;
  background-color: rgb(75, 153, 227);
  color: white;
  border-radius: 15px;
  border: none;

}