body{
  height: 3000px;
  background-color: #7f7f7f;
}

.overlay{
  background-color: rgb(0, 0, 0, 0.4);
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container{
  background-color: white;
  padding: 20px 300px 20px 20px;
  font-family: Arial;
  line-height: 40px;
  border-radius: 10px;
}

.title{
  font-size: 40px;
  font-weight: 700;
}

.right-sidebar{
  position: fixed;
  background-color: #387e27;
  color: white;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 200px;
}

