.subscribe-button {
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
}
.subscribe-button:hover {
  opacity: 0.7;
}
.subscribe-button:active{
  opacity:0.5;
}

.join-button {
  background-color: white;
  border-color: rgb(41,118,211);
  border-style: solid;
  border-width: 1px;
  color: rgb(41,118,211);
  padding-left:10px;
  padding-right:10px;
  padding-top:8px;
  padding-bottom:8px;
  border-radius: 1px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.2s,
              color 0.2s;
}
.join-button:hover{
  background-color: rgb(41,118,211);
  color: white;

}
.join-button:active{
  opacity:0.7;
}

.tweet-button {
  margin-top:10px;
  background-color: rgb(112, 173, 231);
  color: white;
  padding: 7px 16px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  line-height: 22.5px;
  cursor: pointer;
  transition: box-shadow 0.15s;
}
.tweet-button:hover{
  box-shadow: 0px 5px 10px rgba( 0, 0, 0, 0.15);
}
.tweet-button:active{
  opacity:0.7;
}