button{
  cursor: pointer;
}
button:active{
  opacity: 0.8;
  transition: opacity 0.1s;
}

.tweet{
  margin-top: 15px;
  width: 400px;
  height: 60px;
  border-radius: 8px;
  margin-bottom: 100px;
  box-shadow: 0px 0px 5px;
  vertical-align: middle;
  padding: 6px 6px;
}
.frieren-circle{
  width: 50px;
  height:50px;
  border-radius: 500px;
  object-fit: cover;
  vertical-align: middle;
}
.twitter-input{
  vertical-align: middle;
  padding: 10px 4px;
  border: none;
  width: 250px;
  outline: none;
  
}
.twitter-tweet{
  padding: 8px 20px;
  background-color: rgb(75, 153, 227);
  color: white;
  border-radius: 15px;
  border: none;
}

.character-card{
  margin-top:140px;
  width:400px;
  height:625px;
  font-family:Arial;
  box-shadow: 0px 0px 5px;
  display: inline-block;
  margin-right: 20px;
}
.character-pfp{
  width: 400px;
  height:400px;
  object-fit: cover;

}

.character-name,
.mutual-friends,
.add-friend{
  margin:0px;
  margin-left:15px;
  
}

.character-name{
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 15px;
  font-size:34px;
}

.mutual-friends{
  margin-bottom: 0px;
  font-size:26px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  color: #605f5f;
}

.add-friend{
  font-size:26px;
  width: 225px;
  padding: 15px;
  background-color: #1877F2;
  color: white;
  border:none;
  border-radius: 8px;
}

.info{
  vertical-align: top;
  display:inline-block;
  width: 400px;
  margin-bottom: 25px;
}

.user-pfp{
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50px;
  margin-left: 15px;
  vertical-align: middle;
}
.pfp-container{
  width: 80px;
  display:inline-block;
}



