.lightblue{
  background-color: lightblue;
}
.lightpink{
  background-color: lightpink;
}

.grid1{
  width: 300px;
  display:grid;
  grid-template-columns: 50px 1fr 75px;
}

.grid2{
  width: 920px;
  display:grid;
  column-gap: 20px;
  row-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}






