a{
  text-decoration: none;
}

.channel-tooltip{
  display: flex;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border: none;
  align-items: center;
  position: absolute;
  bottom: -40px;
  z-index: 1;
  background-color: white;
  padding: 10px 15px;
  height: 60px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;
  
}
.channel-tooltip .profile-picture{
  width: 64px;
}
.channel-tooltip-info{
  margin: 0;
  margin-left: 15px;
}
.channel-picture:hover .channel-tooltip{
  opacity: 1;
}

.thumbnail{
  width: 100%;
}

.profile-picture{
  width: 48px;
  border-radius: 50px;
}

.thumbnail-row{
  margin-bottom: 12px;
  position: relative;
}

.video-title {
  font-weight: 500;
  line-height: 20px;
  display: inline-block;
  margin-bottom: 12px;
  font-size: 14px;
  width: 100%;
  
}
.video-author,
.video-stats{
  color: #606060;
  font-size: 12px;
}
.video-author{
  margin-bottom: 4px;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}

.youtube-page{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
  
}

@media (max-width:750px) {
  .youtube-page{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px){
  .youtube-page{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width:1000px){
  .youtube-page{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time{
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
}

.video-link{
  color: black;
}
.video-preview{
  position: relative;
}



